<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/src/styles/profile.css">
    <title>Perfil Profissional</title>
</head>
<body>
    <div class="content">
        <main class="main"> 
            <header class="header">
                <div id="imageProfile">
                    <img src="/src/assets/img/my-photo.png" alt="foto padrão de perfil">
                </div>
                <div id="contactProfile">
                    <ul id="listContactProfile">
                        <li id="nameProfile">Olá, eu sou o ...</li>
                        <li>Carregando..</li>
                    </ul>
                </div>
            </header>
            <div id="profileDetails">
                <section id="skills">
                    <h3>Skills</h3>
                    <div id="containerSkills">
                        <div id="techTools">
                            <p><i>Tech Tools</p></i>
                            <ul id="listImageTech">
                                <!-- <li>
                                    <img src="/src/assets/img/angular.png" alt="imagem do icone da tecnologia angular">
                                </li> -->
                            </ul>
                        </div>
                        <div id="personalTools">
                            <p><i>Personal Tools</p></i>
                            <ul id="listPersonalTools">
                                <li>Carregando..</li>
                            </ul>
                        </div>
                    </div>                    
                </section>
                <section id="languages">
                    <h3>Languages</h3>
                        <ul id="listLanguages">
                            <li>Carregando..</li>
                        </ul>
                </section>
                <section id="experience">
                    <h3>Experience</h3>
                        <ul id="listExperiences">
                            <li>Carregando..</li>
                        </ul>
                </section>
                <section id="portfolio">
                    <h3>Portfolio</h3>
                        <ul id="listPortfolio">
                            <li>
                                Carregando..
                            </li><br>
                        </ul>
                </section>
            </div>
            <footer class="footer">
                <!-- desenvolvido por Matheus Ferraz 03/25 -->
            </footer>
        </main>
    </div>
    <script type="module" src="/src/scripts/profileApi.js"></script>
    <script type="module" src="/src/scripts/profileDetail.js"></script>
    <script type="module"  src="/src/scripts/profileModel.js"></script>
    <script type="module"  src="/public/main.js"></script>
</body>
</html>